.canvas {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 13;
  text-align: center;
  display: grid;
  overflow: auto;
  transition: all 600ms ease-in-out;
  transform: translateX(0);
  width: 100%;
  height: 88vh;
  canvas {
    align-self: center;
    justify-self: center;
  }
}

.toolbar_open .canvas {
  transform: translateX(23%);
  width: 81%;
}