.toolbar {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  margin-left: -25px;
  background: $toolbar-bg;
  padding: 43px 25px 0;
  overflow-y: auto;
  height: 100vh;
  &-enter {
    transform: translateX(-200%);
  }
  &-enter-active {
    transition: all 600ms ease-in-out;
    transform: translateX(0);
  }
  &-exit {
    transform: translateX(0);
  }
  &-exit-active {
    transform: translateX(-200%);
    transition: all 600ms ease-in-out;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    svg {
      width: 13px;
      height: 13px;
      cursor: pointer;
    }
  }
  &__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  &__label {
    margin: 0;
    align-self: center;
  }
  &__input {
    width: 100%;
    justify-self: end;
    background: transparent;
    border: 2px solid $border-color;
  }

  &__options {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
    row-gap: 25px;
  }

  &__option {
    text-align: center;
    cursor: pointer;
    &_active {
      border: 1px solid;
    }
    &-title {
      margin: 0;
      margin-top: 16px;
      font-weight: 600;
    }
    svg {
      width: 80%;
    }
  }

  &__crop-btn {
    padding: 12px;
    border: 1px solid;
    margin: 20px 0 0;
  }
}
