@import "../variables";

.unsplash-gallery {
  padding: 30px;
  width: 510px;
  height: 480px;
  overflow-y: scroll;
  &__form {
    display: flex;
    border-bottom: 1px solid $border-color;
    padding-bottom: 10px;
  }
  &__submit-btn {
    padding-right: 10px;
    svg {
      fill: transparent;
      stroke: $text-color;
      width: 20px;
      height: 20px;
      margin-bottom: -4px;
    }
  }
  &__input {
    width: 100%;
    border: 0;
    padding: 0;
    &:focus {
      outline: none;
    }
  }
  &__navbar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 15px 0;
    button {
      color: $text-color;
      font-size: .95em;
    }
  }
  &__next-btn {
    justify-self: end;
    grid-column-start: 2;
  }
  &__prev-btn {
    justify-self: start;
    grid-column-start: 1;
  }
  &__error {
    color: $text-color;
    padding: 15px 0;
    font-size: .95em;
    text-align: center;
  }
  &__loader {
    text-align: center;
    padding-top: 50px;
  }
  &__container {
    position: absolute;
    top: 55px;
    right: -25px;
    background: $menu-bg;
    box-shadow: 0px 3px 24px rgba(0,0,0,0.1);
    z-index: 999;
    cursor: default;
    &:after {
      content: "";
      bottom: 100%;
      left: 86%;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 12.5px 18px 12.5px;
      border-color: transparent transparent white transparent;
    }
  }
}