$main-bg: #1E1E1E;
$menu-bg: #262626;
$toolbar-bg: #313131;
$disabled-color: #606060;
$border-color: #3f3f3f;
$text-color: #eaeaea;

$base-font-family: "Open Sans", sans-serif;
$base-font-size: 1.25vw;